<div class="content indent" style="color:white">
  <div class="container">
    <h2 >A.I. teams up with Game Developers</h2>

    <div class="blog-post spacing" style="text-align: justify;">
      <br>
      <span class="date" style="margin-left:45%">
          August 12, 2017
        </span><br>
      <br>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>After two decades of crisis, we are witnessing a revival of interest in Artificial Intelligence (AI) and Machine
          Learning (ML) technologies. The story of AI goes back to 1956, when a small workshop was held by computer science
          enthusiasts at Dartmouth College in Hanover, New Hampshire. Originally conceived as an ambitious project of creating
          intelligent and sentient machines, AI development had its ups and downs. First propelled by scientific discoveries
          in computation (Turing machine), neuroscience (neural networks), and engineering, AI researchers produced machine
          and programs capable of learning, seeing, and making complex calculations. However, a scientific failure to create
          machines endowed with a human-like intelligence, common sense, sentience, and limitations of computing power of
          that time led to temporary disillusionment.
          <!--more-->
          <br /><br />
          <img style="margin-left: -13%;" src="/assets/images/ai-1.jpg" />
          <br /><br /></p>

        <p>As a result, in 1973 after the devastating Lighthill report, funding of AI research was cut in the USA and Great
          Britain. The crisis that followed would later be known as ‘AI Winter’. Today, after sixty years from its foundation,
          AI is becoming ubiquitous in commercial applications and global digital infrastructure. Areas of AI application
          cover speech recognition, automatic translation, business analytics, computer vision, medical diagnostics, network
          security, marketing, web search, and VFX (visual effects). These are just a few areas to form a booming AI market
          which is projected to grow from $643.7 million in 2016 to $38.8 billion by 2025.<br /><br /></p>

        <h3 id="ai-timeline" style="color:#008aff">AI TIMELINE</h3>

        <p><br /><br />
          <img style="margin-left: -5%;" src="/assets/images/ai-timeline.jpg" alt="AI Timeline" /><br />
          <br /><br /></p>

        <h3 style="color:#008aff">How AI Technology Works?</h3>

        <p>AI technology ecosystem is enormously complex and diverse, but Machine Learning (ML) plays a pivotal role in the
          new generation of AI. In 1959 Arthur Samuel defined ML as a method that gives “computers the ability to learn without
          being explicitly programmed”. Using labeled training sets, we can teach machines how to recognize complex patterns
          in data, classify images, understand speech, identify deceases, drive cars in congested traffic, or translate foreign
          languages. To make machines do what humans do naturally, scientists came up with an idea of artificial neural networks
          (ANN) that model human brain. To make big story short, ANN consists of layers of artificial neurons that receive
          training data, analyze it, and output the computed result, which is compared to actual data. The process continues
          until the machine gets an optimal solution to the problem. Such sophisticated technique may be used in a variety
          of applications, such as Google search, Facebook image recognition system, spam filtering, or Netflix film recommendation
          engine.
          <br /><br /></p>

        <h3 id="ai-in-animation" style="color:#008aff">AI in Animation</h3>

        <p>Recent breakthroughs in AI and ML are changing the way we do animation, VFX (Visual Effects), and video game design.
          Neural nets can be trained to simulate reality and human movements in a more precise and realistic way than non-AI
          animation. For example, researchers from the University of Edinburgh and Method Studios created a machine learning
          system that trains on a large data set of motion capture clips to learn various kinds of movement. With this knowledge,
          the neural net can easily produce animations that take every possible movement, surface type, and speed into account.
          Equipped with such a technology, animators do not longer need to envisage all potential movements working with
          libraries of motion.
        </p>

        <p>Neural nets may do the same job with simulations of physical processes. Simulation of those has traditionally required
          complex computations and computing power. Powered by cloud technologies and new generation GPUs (Graphics Processing
          Units), AI paves the way for more precise rendering of complex physical processes in films and video games<br /><br
          /></p>

        <h3 id="ai-ingames" style="color:#008aff">AI in Games</h3>

        <p>Without animation, there are no video games, so AI is obviously transforming game design industry as well. Beyond
          that, it’s changing the way developers view Game AI as such. Traditionally, the task of AI in games was to create
          NPCs (Non-Player Characters) who could act in a believable way. Enemies in shooters should be alert, able to find
          the shortest way from A to B, hunt, attack, or retreat. These behaviors are usually implemented via path-finding
          algorithms and, Finite State Machines (FSMs). The latter is a way of creating game entity states, emotions, and
          actions throughout their life in game. FSMs can produce ‘idle’, ‘aware’, ‘intrigues’, ‘alert’, ‘aggressive’, ‘fleeing’,
          or ‘dead’ characters. All of these states are just ‘functionally’ intelligent. In the opinion of Dave Mark, the
          founder of AI consultancy Intrinsic Algorithm, standard game AI has more to do with ‘artificial behavior’ than
          ‘artificial intelligence’, because it makes characters be exactly as intelligent as it is needed to be predictable
          and provide fun, drama, or enjoyment for players.
        </p>

        <p><br /><br /></p>

        <p>Nowadays, however, the trend is for a deeper convergence between game AI techniques and state-of-the-art AI and ML
          methods in academia and business. Pure AI is coming to the foreground of game design and player experience. Potential
          of new AI and ML technologies for transforming gaming experience is really rich and diverse. For example, we may
          train neural nets to be socially intelligent by exposing to thousands of recorded human interactions, and, then,
          use this knowledge to populate our virtual city with really intelligent NPCs, who have the infinite repertoire
          of emotions, gestures, and conversations. One variation of this idea is Versu AI engine designed by Richard Evans,
          the lead AI designer of Sims 3 game. Versu allows each character to act autonomously and display a great range
          of emotions, beliefs, and quirky behaviors. For instance, Versu characters can grow angry or irritated if the player
          insults their colleague, or show empathy to a character offended by others. Versatility of NPC behaviors and beliefs
          in AI-based games makes a real change in comparison to identical and stereotypical characters of non-AI game designs.
          <br /><br />
          <img style="margin-left: 2%;" src="/assets/images/ai-2.jpg" />
          <br /><br /> With AI power unbound in AI-based game design, we may also create more Adaptive AI worlds populated
          by intelligent interactive characters who can use the player input to tweak mood, and type of game play, provide
          constant challenges to the player before he learns and adapts to the game. This adaptive task may be performed
          by AI lifelong agents, — NPCs that learn about the player over time. They are long-term companions or adversaries
          that recognize and adapt to changes, and use history of all interactions to create intimate relationship with the
          player. In the same vein, AI-based Dynamic Difficulty Adjustment (DDA) may be used to make real-time adjustments
          of game parameters and enemy behaviors to suit the player’s game skills and experience. Artificial Intelligence,
          however, offers more than just improvement of traditional game techniques, such as procedural animation. Potentially,
          AI technology promises to expand gaming repertoire beyond classic genres of real-time strategy, shooters, or horror
          games. Possibilities opened by AI and ML are, indeed, enormous. For example, an AI agent may be thought of as a
          role model, like in Spy Party Game, in which one player is a spy at the party whilst another is a sniper trying
          to identify him in the crowd of AI agents mimicking human behavioral cues. Or, imagine an AI in the role of a trainee
          who learns to perform certain tasks by observing the player’s actions.
          <br /><br /></p>

        <p>In Black &amp; White god game that implements this pattern, the player (who is the God) trains a creature to act
          as his autonomous assistant in spatial regions with no direct access to the player. The AI is taught to obey his
          commands through positive or negative reinforcements; the player rewards it by petting and punishes by slapping.</p>

        <p>Alternatively, AI-based game design may explore a theme of gameplay flexibility. What if the player could change
          underlying elements of AI in the run-time? One option would be to change a weapon’s firing behavior to find a configuration
          suitable to destroy the enemy. Changing AI parameters in a way not envisaged by the game designer would be a real
          challenge to game community accustomed to authored and tightly controlled game designs. Even more exciting scenario
          is viewing AI-based game as a spectacle where AI or a group of AI agents creates a complex social hierarchy which
          the player may observe, or interact with. Such approach would allow for more innovative interaction between AI
          and players, and promote autonomy of AI agents in game design.</p>

        <p><br /><br />
          <img style="margin-left: -5%;" src="/assets/images/ai-3.png" /></p>

        <p><br /><br /></p>

        <p>At the game design level, AI powered by genetic algorithms promise to move the quality of games to a new level. We
          are nearing the time when entire games are created by AI machines. Although this may not be an option for large-scale
          commercial games, game design may certainly benefit from the AI-assisted methods. For example, in a tower defense
          game City Conquest, AI was used as a tool for improving game balance and managing user experience. Genetic algorithms
          that control the game breed a virtual play-testing team consisting of virtual game experts who identify flaws,
          dominant strategies, and minor things that need tuning. Such kind of game testing is significantly better than
          human results. Adding data mining of game ‘big data’ to this setup may further improve game design analytics to
          the benefit of user experience.
          <br /><br /></p>

        <h3 id="how-can-ai-improvegames" style="color:#008aff">How Can AI Improve Games?</h3>

        <p>This is enough to say that we are entering the era of AI-based game design.
          <br /><br />
          <img style="margin-left: -5%;" src="/assets/images/ai-4.png" /></p>

        <p><br /><br /> AI and ML are technologies that can move gaming to qualitatively new level. Let’s see how… AI characters
          and graphics can be more realistic. Instead of fine-tuning animations manually or using complex motion libraries
          we just let powerful neural nets find patterns of real motion and physics and leave them as is, or use in numerous
          innovative ways. The same applies to the domain of visual effects. AI based characters do not merely resemble intelligence,
          but are, actually, intelligent. Unbound intelligence of NPCs opens opportunities for genuine AI — human interaction,
          and paves the way for new social gaming and its fusion with augmented and virtual realities. AI-based game design
          comes with game diversity and versatility. Instead of hard-coding a limited number of finite states and emotions,
          we may generate infinite number of states with rich emotional palette. In the same way, as procedural animation
          dynamically constructs game spaces and environments, AI can enrich character relations and behaviors. Diversity
          reached by AI and genetic algorithms cannot be achieved by hand-picking character traits and features. Automatism
          of AI-based evolution is something that may produce true diversity of virtual species.</p>

        <p>Finally, AI in games can revolutionize the entire space of VFX, AI and ML research. Today, we are witnessing a growing
          fusion of VFX (Visual Effects) industry and gaming, which suggests that people outside the industry become aware
          of gaming as a powerful playground for innovation. Beyond that, AI based games prototyping ‘smart’ society driven
          by digital technology, AI, and augmented reality may give us a configurable survey of our near future.</p>

        <p>Improvements in game development with AI</p>

        <p>visit Norah AI’s Style Tranfer Tool</p>

        <h1 id="references">References</h1>
        <p><a href="http://www.researchandmarkets.com/research/2tzcx7/artificial">http://www.researchandmarkets.com/research/2tzcx7/artificial</a></p>

        <p><a href="https://www.ibm.com/developerworks/community/blogs/jfp/entry/What_Is_Machine_Learning?lang=en">https://www.ibm.com/developerworks/community/blogs/jfp/entry/What_Is_Machine_Learning?lang=en</a></p>

        <p><a href="http://theorangeduck.com/">http://theorangeduck.com/</a></p>

        <p><a href="http://www.gamasutra.com/view/news/253974/When_artificial_intelligence_in_video_games_becomesartificially_intelligent.php">http://www.gamasutra.com/view/news/253974/When_artificial_intelligence_in_video_games_becomesartificially_intelligent.php</a></p>

        <p><a href="http://www.cc.gatech.edu/~riedl/pubs/cig13.pdf">http://www.cc.gatech.edu/~riedl/pubs/cig13.pdf</a></p>

        <p><a href="http://julian.togelius.com/Treanor2015AIBased.pdf">http://julian.togelius.com/Treanor2015AIBased.pdf</a></p>

        <p><a href="http://www.gamasutra.com/view/news/269634/7_examples_of_game_AI_that_every_developer_should_study.php">http://www.gamasutra.com/view/news/269634/7_examples_of_game_AI_that_every_developer_should_study.php</a></p>

        <p><a href="https://versu.com/">https://versu.com/</a></p>
      </div>
    </div>
  </div>
</div>