@import "../../../styles/colors";
.blending_control, .blending_options {
  line-height: 1.428571429;
  color: #cbcbcb;
  font-family: 'Questrial', sans-serif;
}
#slider1::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #09F 48%, lightgray 48%)
}

#slider1::-moz-range-track {
  background: linear-gradient(to right, #09F 48%, lightgray 48%)
}
.slider-container {
  border: none;
  padding: 5px;
  background: blue;
}

input[type=range] {
  //-webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 83.3333%;
  background-color: #0f0f0f;
  /* Specific width is required for Firefox. */
}


.range-label {
  display: table-cell;
  vertical-align: middle;
}

.range-container {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 5px;
}

.slider {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  height: 30px;
  background: #39244E;
}

.slider::-webkit-slider-thumb {
  //-webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #aeaeae;
  cursor: pointer;
  margin-top: -7px;
}

.slider::-moz-range-thumb {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #aeaeae;
  cursor: pointer;
  margin-top: -7px;
}

.slider::-ms-thumb {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #aeaeae;
  cursor: pointer;
  margin-top: -7px;
  margin-top: -3px;
}

.slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 6px;
  background: blue;
}

.slider::-moz-range-track {
  height: 6px;
  border-radius: 6px;
  background: blue;
}

.slider::-moz-focus-outer {
  border: 0;
}

.slider::-ms-track {
  height: 6px;
  border-radius: 6px;
  background: blue;
}

.slider::-ms-fill-lower {
  background: #09f;
  border-radius: 6px;
}

.slider::-ms-fill-upper {
  background: lightgray;
  border-radius: 6px;
}

.slider::-ms-tooltip {
  //display: none;
}

.main {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

p1 {
  font-size: 35px;
}

p2 {
  font-size: 20px;
}
#left_anim_duration {

  //padding-left: 30px;
  color: white;

}
#right_anim_duration {

  //padding-left: 30px;
  color: white;

}
.blending_control_block {
  margin: 20px -10px;
}
h3 {
  color: $blue !important;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #ff9b9b; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
}
.range-slider {
  width: 100%;
  float: none;
  margin: 0;
}




.left_animation_mp43 iframe {
    width: 100%;
}
.col-md-8.left_animation_V {
    margin: 0 0 0 0;
}
.m_animation_V{
    margin: 0 0 0 0;
}
.carousel-control.left {
        position:relative !important;
        top: 100% !important;
        background: none !important;
        right: 0 !important;
    }
    .carousel-control.right {
        /*position:relative !important;*/
        top: 50% !important;
        background: none !important;
        /*right: 0 !important;*/
        top: 0 !important;
    }
    .carousel-arrow .left-arrow {
        float: left;
        position: relative;
        top: 150px;
    }
    .carousel-arrow .right-arrow {
        float: right;
        width: auto;
        margin: 0 39px 0 0;
        position: relative;
        top: 150px;
    }
    
    


@media (max-width: 767px) {
    
    .col-md-8.left_animation_V {
        margin: 0 0 0 0;
        width: 100%;
        float: left;
    }
    .col-md-8.left_animation_V video {
        width: 100% !important;
    }
    .checkbox-center {
   display: inline-block;
   width: 100%;
   /* margin: 0 auto; */
   /* text-align: center; */
   float: left;
   margin: 0 0 20px 0;
}
    .carousel-control.left {
        position:relative !important;
        top: 100% !important;
        background: none !important;
    }
    .carousel-control.right {
        position:relative !important;
        top: 100% !important;
        background: none !important;
        right: 0 !important;
        top: 0 !important;
    }
    .left-arrow {
        float: left;
        width: auto;
    }
    .right-arrow {
        width: auto;
        float: right;
        margin: 0 !important;
        padding: 0;
    }
    .carousel-arrow .left-arrow {
        top: 0px !important;
    }
    .carousel-arrow .right-arrow {
        top: 0px !important;
    }
    .col-md-4.output-window canvas {
	width:100% !important;
}
} 

@media (min-width: 768px) and (max-width: 991px) {
.col-md-4.output-window canvas {
	width:100% !important;
}
    .col-md-8.left_animation_V video {
        width: 100% !important;
    } 
    .carousel-arrow .left-arrow {
        top: 0px !important;
    }
    .carousel-arrow .right-arrow {
        top: 0px !important;
    }    
}

.checkbox-center {
   display: inline-block;
   width: 43%;
   margin: 0 auto;
   text-align: center;
}
.checkbox-center .col-5 {
   display: inline-block;
}
@media (min-width: 992px) and (max-width: 1119px) {
	.carousel-arrow .left-arrow {
		top:70px;
	}
	.carousel-arrow .right-arrow{
	    float: right;
	    width: auto;
	    margin: 0 17px 0 0;
	    position: relative;
	    top: 70px;
	}
	.col-md-4.output-window canvas {
	width:100% !important;
}
}

@media (min-width: 1000px) and (max-width: 1200px) {
.col-md-4.output-window canvas {
	width:100% !important;
}
.checkbox-center {
   display: inline-block;
   width: 100%;
   /* margin: 0 auto; */
   /* text-align: center; */
   float: left;
   margin: 0 0 20px 0;
}
.row.gameContainerVVideo {
	display:none;
}
}

.row.gameContainerVVideo {
	display:none;
}

h2#left_anim_title {
    padding: 0 !important;
    margin-left: 0 !important;
    left: 0;
    width: 95%;
}

/*.col-md-8.left_animation_V {
    margin: 0 0 0 0;
    position: relative;
    top: 53%;
    left: 10%;
}*/

.left_animation_mp43 video {
    width: 100%;
}

.col-md-4.output-window canvas {
	width:100% !important;
}


	
