<div class="content indent">
  <div class="container">
    <h2 class="spacing">Hello, Welcome to my Blog!</h2>
    <div class="blog-posts">

      <div class="blog-post spacing" style="text-align: justify;margin-top:54px">
        <h3><a [routerLink]="['/A Generative AI Produces a Hallucinatory Footage.html']" style="color:#008aff">A Generative AI Produces a Hallucinatory Footage</a></h3>
        <p class="summary">

          <span class="date">
      August 21, 2017
    </span>
    <br/><br/>
        </p>
        <p>Generative models are gathering a powerful momentum in the contemporary AI research. Leveraging the power of unsupervised
          learning and DL (Deep Learning), generative models such as Variational Auto-encoders (VAEs) and GANs (Generative
          Adversarial networks) create pictures, audio and video samples that look and sound more realistic with each training
          epoch
          <a  id=""><sup>1</sup></a>. Among recent breakthroughs in the generative models, one should
          mention Sketch RNN, a neural net for generating sketches, Google’s DeepDream that creates surrealistic images by
          exciting certain neurons, and MIT Nightmare Machine that transfers horror style to images of human faces and buildings.
          <br />
          <br /></div>

      <div class="blog-post spacing">
        <h3><a [routerLink]="['/A.I. teams up with Game Developers.html']" style="color:#008aff">A.I. teams up with Game Developers</a></h3>
        <p class="summary">
          <span class="date">
      August 12, 2017
    </span> <br/><br/>
        </p>
        <p>After two decades of crisis, we are witnessing a revival of interest in Artificial Intelligence (AI) and Machine
          Learning (ML) technologies. The story of AI goes back to 1956, when a small workshop was held by computer science
          enthusiasts at Dartmouth College in Hanover, New Hampshire. Originally conceived as an ambitious project of creating
          intelligent and sentient machines, AI development had its ups and downs. First propelled by scientific discoveries
          in computation (Turing machine), neuroscience (neural networks), and engineering, AI researchers produced machine
          and programs capable of learning, seeing, and making complex calculations. However, a scientific...
          <br>
          <br>
      </div>

      <div class="blog-post spacing">
        <h3><a [routerLink]="['/What is Unsupervised Learning.html']" style="color:#008aff">What is Unsupervised Learning?</a></h3>
        <p class="summary">

          <span class="date">
      August 10, 2017
    </span> <br/><br/>
        </p>
        <p>Machine Learning (ML) uses powerful algorithms, statistical and numerical models to make machines learn without being
          explicitly programmed. The design of the ML systems, however, may differ depending on the skill set we want our
          machines to build, a form of training data, time constraints, and computing resources at our disposal. As a result,
          we have four major types of ML: supervised, unsupervised, semi-supervised, and reinforcement learning. <br /><br
          /></p>
        <p>In this article, we’re going to discuss unsupervised learning – an approach to the design of ML systems that has
          become very popular over the last...
      </div>

    </div>
  </div>