.collapse {
	display: none
}
.collapse.show {
	display: block
}
tr.collapse.show {
	display: table-row
}
tbody.collapse.show {
	display: table-row-group
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease
}
.dropdown, .dropup {
	position: relative
}
.dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .3em;
	vertical-align: middle;
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent
}
.dropdown-toggle:focus {
	outline: 0
}
.dropup .dropdown-toggle::after {
	border-top: 0;
	border-bottom: .3em solid
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #292b2c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem
}
.dropdown-divider {
	height: 1px;
	margin: .5rem 0;
	overflow: hidden;
	background-color: #eceeef
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: 3px 1.5rem;
	clear: both;
	font-weight: 400;
	color: #292b2c;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #1d1e1f;
	text-decoration: none;
	background-color: #f7f7f9
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #0275d8
}
.dropdown-item.disabled, .dropdown-item:disabled {
	color: #636c72;
	cursor: not-allowed;
	background-color: transparent
}
.show>.dropdown-menu {
	display: block
}
.show>a {
	outline: 0
}
.dropdown-menu-right {
	right: 0;
	left: auto
}
.dropdown-menu-left {
	right: auto;
	left: 0
}
.dropdown-header {
	display: block;
	padding: .5rem 1.5rem;
	margin-bottom: 0;
	font-size: .875rem;
	color: #636c72;
	white-space: nowrap
}
.dropdown-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990
}
.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: .125rem
}

.block_img{

max-width: 100px;
height:100px;
}

.head-detail-block{

	height:120px;
}


.btn-panel_btn{

    margin-right: 20px;

}
.btn-panel{

    padding: 5px;
    text-align:right;
}

.block.active{

    border:1px solid white;

}



.full-btn.left{

	float: left;
	position:relative;
	left:0px;
	z-index: 10;
	height: 110px
}

.full-btn.right{
	position: relative;
	z-index: 10;
	height:100px
}


.head-detail-block-scroll-container{
overflow:hidden;
position: absolute; 
}

.scroller-content{
	margin:0 auto;
	width:600px;
}

#Sidebar{

	width:20%;
	z-index: 10;

}
#RSidebar{
	top: 0;
	width:20%;
	z-index: 10;
}
.an-RSidebar{
    width: 200px !important;
    padding-top: 0 !important;
    position: relative !important;
    z-index: unset !important;
    height: unset !important; 
}
.an-RSidebar .scroller-content{
	width: auto !important;
}
.an-object-container{
	width: 97%;
}
.an-head-details-vertical{
	position: relative;
	height: 700px;
}
.an-head-details-vertical .block{
	width: 183px !important;
	height: 153px !important;
	background-color: rgb(28,37,47);
}
.an-head-details-vertical{
	background-color: #202a34;
}

.an-head-details-scrollable{
	min-height: 400px;
	overflow-y: scroll;
	height: 500px; 
}
.an-head-details-scrollable .head-title{
	position: absolute;
	top: 0px;
	width: 100%;
}
.an-head-details-vertical .block_img{
	height: 100% !important;
	width: auto !important;
	max-width: unset !important; 
}
.an-main-img{
	flex: 1;
}
.an-main-img > img {
	min-width: 280px;
}
.an-main-img .addgame-btn{
	float: unset !important;
	color: rgba(255,255,255,0.8);
}
.an-btn-below-img{
	text-align: center;
	padding: 4px 0;
	margin-top: 2%;
}
.an-align-center{
	text-align: center;
}
.an-dna-conatiner{
	font-family:"Lato Semibold","Lato",sans-serif;
}
.an-selected-block-vertical{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
}
.an-selected-block-vertical .head-detail-block{
	height: unset !important;
}
.an-input-number-text{
	padding: 4px 0;
}
.an-selected-block-vertical .block{
	width: 180px;
}
.an-selected-block-vertical> .an-align-center{
	padding: 4px 0;
	background-color: #202a34;
}
#content-wrapper{

	padding-left: 21%;
	width:102%;
	
}


.object-container-dna .block-object{

	min-height:250px;
}

@media screen and (max-width: 720px) {
 
.object-container-dna .block-object img{
	padding:0px;
width:25%;
}

}


@media screen and (min-width: 721px) {
 
.object-container-dna .block-object img{
	padding:0px;
width:25%;
}

}


.head-detail-block .block{

	width:110px;
	height:110px;
	min-height: 110px;
}
.rangeSlider_block .block{

	min-height: 100px;
}
.rangeSlider_block{

	margin:10px 0px 0px 10px;
	width:110px;
	height:110px;
}


.shuffle-btn a{
    background: #008aff;
    color: #fff;
    float: left;
    padding: 10px;
    text-align: center;
}
.shuffle-btn a:hover{
    background: #008aff;
    color: #fff;
    float: left;
    text-decoration: none;
}

#genButton{


	margin-right: 10%
}
:host /deep/ image-zoom-container{
		background-color: #1c252f;

}


:host /deep/ nouislider.eSlider .noUi-connect:nth-child(1) {
    background:  #66afea !important
    ;
}
:host /deep/ nouislider.eSlider .noUi-connect:nth-child(5) {
    background:#072136 !important
    ;
}
:host /deep/ nouislider.eSlider .noUi-connect:nth-child(3) {
   /* background: green !important
    ;*/
}